html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


/*
body {
  padding-top: 56px;
}
*/




@media (max-width: 990px) {
    
    .mobnav{
        display: block;
    }
    .mobnav .navbar-brand{
        display: none;
    }
    .mobnav.navbar{
        padding: 0;
/*        width: 38px;*/
        background-color: #227fe6;
    }
/*
    .scrollinit .mobnav.navbar{
        width: 100%;
    }
*/
    .mobnav .navbar-toggler{
        margin: 0;
        background-color: transparent;
        color: #fff;
        box-shadow: none!important;
        outline: none!important;
        border-radius: 0;
    }
    .mobnav .navbar-toggler i{
        padding: 9px 15px 8px 15px;
    }
    .mobnav .navbar-toggler.clicked{
        background-color: #555;
        color: #fff;
    }
    .mobnav.navbar-expand-lg .navbar-nav .nav-item{
        border-bottom: 1px dashed #666;
    }
    .mobnav.navbar-expand-lg .navbar-nav .nav-item:last-child{
        border-bottom: 0;
    }
    .mobnav.navbar-expand-lg .navbar-nav .nav-link{
        color: #fff!important;
        padding: 15px 0;
    }
    .mobnav.navbar-expand-lg .navbar-nav .nav-link:hover{
        color: #ccc!important;
    }
    
/*Submenu*/
    .mobnav .dropdown-menu{
        background-color: #666;
    }
    .mobnav .dropdown-menu .dropdown-menu{
        background-color: #777;
    }
    .mobnav .dropdown-item{
        color: #ccc;
        padding: 7px 10px;
        text-transform: uppercase;
        font-size: 13px!important;
    }
    .mobnav .dropdown-item:focus,
    .mobnav .dropdown-item:hover{
        background-color: #777;
    }
    .mobnav .sublevel2 .dropdown-item:focus,
    .mobnav .sublevel2 .dropdown-item:hover{
        background-color: #888;
    }
    .mobnav.navbar-expand-lg .navbar-nav .nav-link.dropdown-item{
        color: #ccc!important;
        padding: 7px 10px;
        font-weight: 400;
    }
    
  .offcanvas-collapse {
    position: fixed;
    top: 37px; /* Height of navbar */
    bottom: 0;
    left: -100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    overflow-y: auto;
    visibility: hidden;
    background-color: #555;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

@media (min-width: 991px) {
    .mobnav{
        display: none;
    }
}